* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1.111vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

#header-wrapper {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1.4%;
}

.header-logo {
    margin-left: 10%
}

.header-items {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 9%;
    color: hsl(273, 4%, 51%);
}

.header-item {
   flex: 0 0 auto;
   margin: 0 2%;
   font-size: 1.111vw;
}

.header-item-btn {
    flex: 0 0 25%;
}
#header-plan-btn {
    padding: 5% 10%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: none;
    border: 2px solid hsl(256, 26%, 20%);
    color: hsl(256, 26%, 20%);
    font-size: 1rem;
    letter-spacing: .05rem;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

#content-top {
  background-color: hsl(256, 26%, 20%);
  max-height: 600px;
  color: #ffffff
}

.top-row {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 7% 0 0 0;
}

.top-col {
  flex: 0 1 50%;
}

#top-img-col {
  margin: 0 0 0 5%;
}

.content-img {
  max-width: 100%;
  height: auto;
}
 .title-wrapper {
   font-size: 2vw;
   line-height: 4vw;
 }

 #top-text-col {
   padding: 6% 0 0 1.2%;
 }

 /* #content-top-btn {
  background-color: #ffffff;
  box-shadow: none;
  border: 2px solid hsl(256, 26%, 20%);
  color: hsl(256, 26%, 20%);
  font-size: 1rem;
  letter-spacing: .05rem;
 } */
