* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1.111vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1, h4 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

#header-wrapper {
  background-color: #ffffff;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1.4%;
  position: relative;
  z-index: 100;
}

.header-logo {
  margin-left: 10%;
}

.header-items {
  display: inline-flex;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 9%;
  color: hsl(273, 4%, 51%);
}

.header-item {
  flex: 0 1 auto;
  margin: 0 2%;
  font-size: 1.111vw;
}

.header-item-btn {
  flex: 0 1 22%;
  margin-right: 0%;
}
#header-plan-btn {
  padding: 7% 10%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  border: 2px solid hsl(256, 26%, 20%);
  color: hsl(256, 26%, 20%);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  width: 80%;
  position: relative;
}

#content-top {
  background-color: hsl(256, 26%, 20%);
  width: 100vw;
  max-height: 600px;
  color: #ffffff;
  position: relative;
}

#content-top-row::before {
  content: "";
  position: absolute;
  top: 16.5%;
  left: 11.1%;
  width: 10.417vw;
  border-top: 1px solid white;
  margin:0 0 10% 0;
}

#content-img-top {
  transform: translateY(15.2%);
}
.top-right-bg > img {
  position: absolute;
  top: -13%;
  right: 0;
  z-index: 2;
  width: 28.5%;
}

.bottom-left-bg > img {
  position: absolute;
  top: 73%;
  left: 0;
  z-index: 100;
  width: 13%;
}

.top-row {
  display: flex;
  align-items: flex-start;
  width: 80%;
}

.top-col {
  flex: 1 1 50%;
  position: relative;
}

#top-img-col {
  margin: 0 0 0 3%;
  flex: auto;
}

.content-img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

#title-top-wrapper {
  margin: 12% 0 0 0;
}

.title {
  font-size: 4.35rem;
  line-height: 4rem;
}

#top-text-col {
  padding: 0 0 0 1.2%;
  margin: 8.75% 0 0 0;
  position: relative;
}

/* #top-text-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10.417vw;
  border-top: 1px solid white;
  margin-left: 3%;
} */

#top-body-text-wrapper {
  margin: 5% 0;
  width: 100%;
  line-height: 1.5rem;
}

#content-top-btn {
  background: none;
  box-shadow: none;
  border: 2px solid white;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding: 2% 6%;
}

#content-mid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}

.middle-wrapper {
  width: 80%;
  margin-top: 20.75%;
  position: relative;
  padding: 0 0 0 1.1%;
}

#mid-row-1 {
  display: flex;
  width: 100%;
}



#mid-title-col::before{
  content: "";
  position: absolute;
  top: 0;
  left: 1.5%;
  width: 10.417vw;
  border-top: 1px solid hsl(273, 4%, 51%);
}

#mid-title-col {
  flex: 1 0 auto;
  margin: 5% 0 8% 0;
  color: hsl(270, 9%, 17%);
}

#mid-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2% 0;
}

.mid-col {
  flex: 0 1 33.3333%;
}

.mid-col-header-text {
  font-size: 2vw;
  margin: 8% 0 5.75% 0;
}

.mid-col-text-area {
  color: hsl(273, 4%, 51%);
  line-height: 2vw;
}

#content-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#bot-row-1 {
  width: 80%;
  display: flex;
  color: #ffffff;
  background-color: hsl(256, 26%, 20%);
  padding: 5% 5%;
  margin: 10.65% 0;
  position: relative;
}

.content-bottom-bg > img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 41%;
}

.col-bot-row {
  flex: 1 0 50%;
}

.header-col-bot-text {
  font-size: 3.9vw;
}