* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1.111vw;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

#header-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1.4%;
}

.header-logo {
  margin-left: 10%;
}

.header-items {
  display: inline-flex;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 9%;
  color: hsl(273, 4%, 51%);
}

.header-item {
  flex: 0 1 auto;
  margin: 0 2%;
  font-size: 1.111vw;
}

.header-item-btn {
  flex: 0 1 20%;
}
#header-plan-btn {
  padding: 5% 10%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  border: 2px solid hsl(256, 26%, 20%);
  color: hsl(256, 26%, 20%);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

#content-top {
  background-color: hsl(256, 26%, 20%);
  max-height: 600px;
  color: #ffffff;
}

#content-img-top {
  transform: translateY(15.2%);
}
.top-right-bg > img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 26.5%;
}

.bottom-left-bg > img {
  position: absolute;
  top: 73%;
  left: 0;
  z-index: 100;
  width: 13%;
}

.top-row {
  display: flex;
  justify-content: center;
  width: 80%;
}

.top-col {
  flex: 1 1 50%;
  position: relative;
}

#top-img-col {
  margin: 0 0 0 5%;
}

.content-img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

#title-top-wrapper {
  margin: 12% 0 0 0;
}

.title {
  font-size: 4.35rem;
  line-height: 4rem;
}

#top-text-col {
  padding: 0 0 0 1.2%;
  margin: 8.75% 0 0 0;
  position: relative;
}

#top-text-col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27%;
  border-top: 1px solid white;
  margin-left: 3%;
}

#top-body-text-wrapper {
  margin: 5% 0;
  width: 104%;
  line-height: 1.5rem;
}

#content-top-btn {
  background: none;
  box-shadow: none;
  border: 2px solid white;
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  padding: 2% 6%;
}

#content-mid {
  display: flex;
  flex-flow: column nowrap;
  max-height: 780px;
}

#mid-row-1 {
  display: flex;
  margin-top: 20%;
}
